{% extends 'base.html' %}


{% block content %}


<h1>The homepage</h1>

<a href="{% url 'posts:create' %}">New Post </a>

<br />
<br />

{% for post in posts.all %}

<form method="POST" action="{% url 'posts:upvote' post.id %}">
	{% csrf_token %}
<input type="submit" value="Up">
</form> {{ post.votes_total }} 
<a href="{{ post.url }}"> {{ post.title }} </a>
<br />
{{ post.pub_date }} by {{ post.author.username }}

<form method="POST" action="{% url 'posts:downvote' post.id %}">
	{% csrf_token %}
<input type="submit" value="Down">
</form> 

<br />

{% endfor %}

{% endblock %}